
button {
    background: none;
    border: none;
}

.action-btn {
    font-size: 1rem;
    padding: .8em 1.6em;
    font-weight: bold;
    border: 2px solid;

    &:hover {
        color: $brand-color;
        border-color: $brand-color;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    text-align: center;
    transition: .3s ease;

    &:hover {
        color: $brand-color;
    }
}