
@mixin respond($breakpoint) {
    @if $breakpoint==large {
        @media (min-width: 760px) {
            @content;
        }
    }

    @if $breakpoint==medium {
        @media (max-width: 859px) {
            @content;
        }
    }

    @if $breakpoint==small {
        @media (max-width: 550px) {
            @content;
        }
    }

}


$bg :#141414;
$brand-color: #48c3e2;
$text: #e6e6e6;
$light :#a8eeff;
$white :#ffffff;
$border-radius: 10px;
$box-shadow: 1px 1px black;
$poppins: 'Poppins',
sans-serif;
$taviraj: 'Taviraj',
serif;

hr{
    opacity: .1;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    background-color: $bg;
    color: $text; 
    overflow-x: hidden;
    width: 100vw;
    font-family: $poppins;
    font-weight: lighter;
    line-height: 2;
    letter-spacing: 1px;

    @include respond(medium) {
        font-size: 14px;
    }

    @include respond(small) {
        font-size: 13px;
    }
}
