.header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1rem 3rem;
    align-items: center;
    display: flex;
    z-index: 2;
    justify-content: center;
    transition: all .4s ease-in;

    #toggler {
        display: none;
        color: $text;
        font-size: 1.3rem;
        position: fixed;
        right: 10%;
        top: 1rem;
    }

    @include respond(small) {
        padding: 1rem;
        justify-content: space-between;


        #toggler {
            display: block;
        }

        .header__item {
            display: none;

            &:nth-child(3) {
                display: block;
            }
        }
    }

    &.mobile {
        height: 100vh;
        max-height: 100vh;
        background-color: $bg;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 4;

        .header__item {
            display: block;
        }
    }


    &.sticky {
        transition: all .8s ease-in;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        padding: 1rem;
        background-color: $bg;
        box-shadow: $box-shadow;

        .logo {
            font-size: .8rem;
        }
    }

    .logo {
        font-size: 1rem;
        font-family: $taviraj;

        @include respond(small) {
            font-size: .5rem;
        }
    }

    a {
        position: relative;
        color: inherit;
        text-transform: uppercase;
        width: max-content;
        font-size: .8rem;
        margin: 0 2rem;

        &:after {
            content: '';
            display: block;
            margin: auto;
            height: 2px;
            width: 0px;
            background: transparent;
            transition: width .5s ease;
        }

        &:hover:after {
            width: 100%;
            background: $brand-color;
        }
    }
}