@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&family=Taviraj:wght@100;200;500;700&display=swap');



h1,
h2,
h3,
h4,
h5 {
    font-family: $taviraj;
}
h1{
    font-size: 1rem;
}

.underline {
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 80px;
        height: 2px;
        background: $brand-color;
        left: 40%;
        bottom: 0;
        position: absolute;

    }
}